<a href="https://colab.research.google.com/github/hardikDhayal/FIFA19_ML/blob/main/FIFA19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


### **Downloading the data file(Method 1)**

In [7]:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

In [8]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

file_id = '1ldIRdwssW3RpHqGPVK6gjZUBPoT-t6Pr'
downloaded = drive.CreateFile({'id': file_id})

In [9]:
  downloaded.GetContentFile("fifa_data.csv")

In [10]:
!ls

 0318_FeedForwardNetwork_new.ipynb	   'Minimum Pooling cv2 Image.ipynb'
 0328_VectorizedFeedForwardNetworks.ipynb   mobile_cleaned-1551253091700.csv
 data.csv				    pytorch.ipynb
 Fifa19.ipynb				   'Stiching From Padding.ipynb'
 FIFA19NNN.ipynb			    Untitled0.ipynb
 fifa_data.csv				    Untitled1.ipynb
 FirstTemp.ipynb			    Untitled.ipynb

### **(Method 2)**

In [1]:

# Mount Google Drive
from google.colab import drive # import drive from google colab

ROOT = "/content/drive"     # default location for the drive
print(ROOT)                 # print content of ROOT (Optional)

drive.mount(ROOT)           # we mount the google drive at /content/drive

/content/drive
Mounted at /content/drive

In [2]:
%cd 'drive/MyDrive/Colab Notebooks'

/content/drive/MyDrive/Colab Notebooks

In [3]:
%ls

 0318_FeedForwardNetwork_new.ipynb          mobile_cleaned-1551253091700.csv
 0328_VectorizedFeedForwardNetworks.ipynb   pytorch.ipynb
 data.csv                                  'Stiching From Padding.ipynb'
 Fifa19.ipynb                               Untitled0.ipynb
 FIFA19NNN.ipynb                            Untitled1.ipynb
 FirstTemp.ipynb                            Untitled.ipynb
'Minimum Pooling cv2 Image.ipynb'

In [5]:
import pandas as pd

dataTemp = pd.read_csv("data.csv")

In [6]:
dataTemp.head()

   Unnamed: 0      ID  ... GKReflexes  Release Clause
0           0  158023  ...        8.0         €226.5M
1           1   20801  ...       11.0         €127.1M
2           2  190871  ...       11.0         €228.1M
3           3  193080  ...       94.0         €138.6M
4           4  192985  ...       13.0         €196.4M

[5 rows x 89 columns]

### **Dataset Analysis and Visualization**

In [12]:
import pandas as pd

In [13]:
data = pd.read_csv("fifa_data.csv")

In [14]:
data.shape

(18207, 89)

In [15]:
data.head()

   Unnamed: 0      ID  ... GKReflexes  Release Clause
0           0  158023  ...        8.0         €226.5M
1           1   20801  ...       11.0         €127.1M
2           2  190871  ...       11.0         €228.1M
3           3  193080  ...       94.0         €138.6M
4           4  192985  ...       13.0         €196.4M

[5 rows x 89 columns]

In [17]:
data.describe()

         Unnamed: 0             ID  ...  GKPositioning    GKReflexes
count  18207.000000   18207.000000  ...   18159.000000  18159.000000
mean    9103.000000  214298.338606  ...      16.388898     16.710887
std     5256.052511   29965.244204  ...      17.034669     17.955119
min        0.000000      16.000000  ...       1.000000      1.000000
25%     4551.500000  200315.500000  ...       8.000000      8.000000
50%     9103.000000  221759.000000  ...      11.000000     11.000000
75%    13654.500000  236529.500000  ...      14.000000     14.000000
max    18206.000000  246620.000000  ...      90.000000     94.000000

[8 rows x 44 columns]

In [19]:
data.loc[1:7,['Name','Nationality']]

                Name Nationality
1  Cristiano Ronaldo    Portugal
2          Neymar Jr      Brazil
3             De Gea       Spain
4       K. De Bruyne     Belgium
5          E. Hazard     Belgium
6          L. Modrić     Croatia
7          L. Suárez     Uruguay

In [20]:
def country(x):
    return data[data['Nationality'] == x][['Name','Overall','Potential','Position']]

In [21]:
country('India')

                  Name  Overall  Potential Position
8605        S. Chhetri       67         67       LS
10011       S. Jhingan       65         71      RCB
12598    J. Lalpekhlua       63         64       RS
12811  G. Singh Sandhu       63         68       GK
13508    A. Edathodika       62         62      LCB
14054        P. Halder       61         67      RCM
14199         P. Kotal       61         66       RB
14218         L. Ralte       61         62       LW
14705           N. Das       60         65       LB
14786         U. Singh       60         67       RM
14915       H. Narzary       60         66       LM
15356         R. Singh       59         59       ST
15643         S. Singh       59         65       CB
15652         A. Thapa       59         71      LCM
15855       M. Rafique       58         61       CM
15864         A. Singh       58         62       GK
15884         B. Singh       58         58       ST
16135          S. Bose       58         66       LB
16265        R. Borges       58         60      CDM
16450          S. Paul       57         57      NaN
16499        A. Mondal       57         57       CB
16539  L. Lalruatthara       57         63      NaN
16793       E. Lyngdoh       56         56      NaN
16903   J. Lalrinzuala       56         64       LB
16976     A. Kuruniyan       56         70       LW
17129         J. Singh       55         58      NaN
17197         V. Kaith       55         64       GK
17339         S. Passi       54         63      NaN
17436   D. Lalhlimpuia       54         67      NaN
17539         C. Singh       53         62      NaN

In [22]:
def club(x):
    return data[data['Club'] == x][['Name','Jersey Number','Position','Overall','Nationality','Age','Wage',
                                    'Value','Contract Valid Until']]

club('Manchester United')

                  Name  Jersey Number  ...   Value  Contract Valid Until
3               De Gea            1.0  ...    €72M                  2020
45            P. Pogba            6.0  ...    €64M                  2021
47           R. Lukaku            9.0  ...  €62.5M                  2022
93          A. Sánchez            7.0  ...  €37.5M                  2022
116         A. Martial           11.0  ...  €42.5M                  2019
132           N. Matić           31.0  ...    €24M                  2020
211          Juan Mata            8.0  ...  €24.5M                  2019
250               Fred           17.0  ...  €26.5M                  2023
254         J. Lingard            7.0  ...  €26.5M                  2021
319        M. Rashford           11.0  ...    €27M                  2020
327          E. Bailly            2.0  ...    €21M                  2020
374      Ander Herrera           21.0  ...  €17.5M                  2019
377        C. Smalling           12.0  ...    €16M                  2019
399        A. Valencia           16.0  ...    €10M                  2019
454            L. Shaw           23.0  ...  €16.5M                  2023
526          S. Romero            1.0  ...     €9M                  2021
584        V. Lindelöf            3.0  ...  €14.5M                  2021
629            M. Rojo           16.0  ...    €10M                  2021
654           P. Jones            4.0  ...    €12M                  2019
700        M. Fellaini            8.0  ...  €11.5M                  2020
717           A. Young           18.0  ...     €7M                  2019
807    Andreas Pereira           15.0  ...    €14M                  2019
1313        M. Darmian           36.0  ...     €6M                  2019
2561          L. Grant           13.0  ...   €1.3M                  2020
3451       Diogo Dalot           20.0  ...   €4.7M                  2023
4513      S. McTominay           17.0  ...   €3.8M                  2021
8191          A. Gomes           47.0  ...   €1.5M                  2021
10087         T. Chong           44.0  ...   €1.1M                  2019
10457      E. Hamilton           48.0  ...     €1M                  2020
10461       C. Gribbin           42.0  ...   €1.2M                  2019
11081         R. Poole           50.0  ...   €675K                  2019
11422      R. Williams           52.0  ...   €875K                  2019
12545         J. Bohui           46.0  ...   €700K                  2019

[33 rows x 9 columns]

In [23]:
  data.isnull().sum()

Unnamed: 0           0
ID                   0
Name                 0
Age                  0
Photo                0
                  ...
GKHandling          48
GKKicking           48
GKPositioning       48
GKReflexes          48
Release Clause    1564
Length: 89, dtype: int64